<div class="main accounts">
  <ul>
    <div class="container list">
      <div class="user-right">
        <li>
          <%= link_to("Myアカウント", "users/index") %>
        </li>
      </div>
      <li>新規投稿</li>
      <li>投稿一覧</li>
      <li>ログアウト</li>
      <li>戻る</li>
    </ul>
  </div>
