<div class="@media main">
  <div class="@media message-container">
    <h2>ラーメン店の検索はラーメンマップ</h2>
    <iframe class="googlemaps" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12886.90945208638!2d139.72499574393697!3d35.7173982812701!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188d0925f6c7d9%3A0xe8c50277bbb6eb2c!2z6K235Zu95a-66aeF!5e0!3m2!1sja!2sjp!4v1705840131596!5m2!1sja!2sjp" width="200" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
  <div class="@media ranking-container">
    <h2>ラーメンランキング</h2>
  </div>
</div>
