<div class="restaurant-details">
  <h2><%= @restaurant['name'] %></h2>
  <p><strong>Address:</strong> <%= @restaurant['address'] %></p>
  <p><strong>Phone:</strong> <%= @restaurant['tel'] %></p>
  <p><strong>Business Hours:</strong> <%= @restaurant['open'] %></p>
  <!-- 他の詳細情報を表示する場合はここに追加 -->
</div>
